body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{
  /* border: 3px pink solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.textInput {
  flex: 1;
}

.selectInput {
  margin-left: 20px;
}